$mobile: 40em;
$tablet: 64em;

@font-face {
  font-family: "RubikRegular";
  src: url("/static/assets/fonts/rubik/Rubik-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "RubikLight";
  src: url("/static/assets/fonts/rubik/Rubik-Light.ttf") format("truetype");
}

@font-face {
  font-family: "RubikBold";
  src: url("/static/assets/fonts/rubik/Rubik-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "RubikMedium";
  src: url("/static/assets/fonts/rubik/Rubik-Medium.ttf") format("truetype");
}

@-webkit-keyframes rotating {
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
    }
}

* {
  font-family: "RubikRegular";
  box-sizing: border-box;
}

html.hide-scroll {
  &, body {
    overflow: hidden;
  }
}

html, body {
  overflow-x: hidden;
}

strong {
  font-family: "RubikBold";
}

header {
  width: 100vw;
  min-height: 5rem;
  position: fixed;
  z-index: 10;
  padding: 1.3rem 0 0 0;
  top: 0;
  left: 0;

  div[data-name="holder"] {
      max-width: 64rem;
      width: 95%;
      margin: 0 auto;
      display: block;
      a[data-name="logo"] {
        width: 10rem;
        height: 2.7rem;
        display: inline-block;
        &:hover {
          opacity: 0.8;
        }
        @media (max-width: $tablet) {
              display: block;
              margin: 0 auto;
              width: 9rem;
              height: 2rem;
              left: 1rem;
              position: relative;
        }
        div {
          width: inherit;
          height: inherit;
          background-image: url('/static/assets/images/defiglobal-logo.png');
          background-size: contain;
          background-repeat: no-repeat;
        }
      }
      div[data-name="links"] {
        float: right;
        display: inline-block;
        a {
          color: #FFFFFF;
          text-decoration: none;
          font-size: 0.9rem;
          display: inline-block;
          margin-left: 3rem;
          position: relative;
          font-family: "RubikMedium";
          &:hover {
            color: #F3F3F3;
            &.selected {
              div {
                  background-color: #F3F3F3;
              }
            }
          }
          &.selected {
              div {
                position: absolute;
                bottom: -0.5rem;
                width: 2rem;
                height: 0.2rem;
                background-color: #FFFFFF;
                left: 50%;
                margin-left: -1rem;
              }
          }
          @media (max-width: $tablet) {
              margin: 1rem 0.5rem;
          }
          @media (min-width: $tablet) {
              &[data-name="link-contact"] {
                background-color: #FFFFFF;
                color: #6500FF;
                border-radius: 0.2rem;
                padding: 0.5rem 1rem;
                &:hover {
                    background-color: #F3F3F3;
                    color: #6500FF;
                }
              }
          }
        }

        @media (max-width: $tablet) {
            float: none;
            display: block;
            text-align: center;
        }
      }
  }

  &.alt {
      background-color: #FFFFFF;
      div[data-name="holder"] {
          a[data-name="logo"] {
              div {
                  background-image: url('/static/assets/images/defiglobal-logo-alt.png');
              }
          }
          div[data-name="links"] {
              a {
                  color: #6500FF;
                  &:hover {
                    color: #5404ce;
                    &.selected {
                        div {
                          background-color: #5404ce;
                        }
                    }
                  }
                  &.selected {
                      div {
                        background-color: #6500FF;
                      }
                  }
                  @media (min-width: $tablet) {
                      &[data-name="link-contact"] {
                          background-color: #6500FF;
                          color: #FFFFFF;
                          &:hover {
                            background-color: #5404ce;
                            color: #FFFFFF;
                          }
                      }
                  }
              }
          }
      }
  }
}

footer {
  width: 100%;
  padding: 4rem 2rem 5rem 2rem;
  background-color: #F9FAFB;
  text-align: center;

  div[data-name="logo"] {
      width: 12rem;
      height: 4rem;
      margin: 0 auto 0 auto;
      background-position: center center;
      background-size: contain;
      background-repeat: no-repeat;
      background-image: url('/static/assets/images/defiglobal-footer-logo.png');
      @media (max-width: $tablet) {
          width: 10rem;
          height: 3rem;
      }
  }

  div[data-name="disclaimer"] {
    max-width: 25rem;
    margin: 0 auto 2rem auto;
    font-size: 0.9rem;
    line-height: 1.8;
    width: 95%;
    color: #666666;
    text-align: center;
    a {
      color: #6500FF;
      text-decoration: none;
    }
  }

  div[data-name="copyright"] {
      font-size: 0.9rem;
  }
}

article {
  max-width: 40rem;
  margin: 0 auto;
  width: 90%;
  padding: 2rem 0 5rem 0;
  line-height: 2;
  font-size: 0.9rem;
  min-height: 20rem;
  h2 {
    font-family: "RubikBold";
    color: #6500FF;
    font-size: 1.5rem;
  }
}

div[data-name="video"] {
    position: absolute;
    width: 100%;
    height: inherit;
    left: 0;
    top: 0;

    video {
        position: absolute;
        top: 50%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: inherit;
        z-index: 0;
        transform: translateX(-50%) translateY(-50%);
        object-fit: cover;

        @media (max-width: 40em) {
            display: none;
        }
    }

    div[data-name="video-overlay"] {
        width: inherit;
        height: inherit;
        position: absolute;
        z-index: 1;
        left: 0;
        top: 0;
        background-color: rgba(101, 0, 255, 0.8);
    }
}

div[data-name="team-overlay"] {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 15;
  overflow-y: auto;
  background-color: rgba(0,0,0,0.8);

  a[data-name="close"] {
      display: block;
      position: absolute;
      right: 1.5rem;
      top: 2rem;
      font-size: 2rem;
      color: #CCCCCC;
  }

  div[data-name="background"] {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      cursor: pointer;
      @media (max-width: 40em) {
        min-height: 100%;
      }
  }

  div[data-name="content"] {
      background-color: #FFFFFF;
      position: absolute;
      width: 90%;
      max-width: 64rem;
      min-height: 15rem;
      top: 10%;
      left: 50%;
      margin-left: -45%;
      background-color: #FFFFFF;
      z-index: 2;
      box-sizing: border-box;
      padding: 1rem 0 4rem 0;
      margin-bottom: 3rem;

      @media (min-width: 64rem) {
          margin-left: -32rem;
      }

      div[data-name="details"] {
          display: flex;
          flex-direction: row;
          justify-content: space-around;

          @media (max-width: 40em) {
            flex-direction: column;

            div[data-name="image"] {
                margin: 3rem auto;
            }
          }

          div[data-name="image"] {
              width: 16rem;
              height: 18rem;
              margin: 3rem;
              background-position: center center;
              background-size: cover;
              background-repeat: no-repeat;
          }

          div[data-name="bio"] {
              width: 65%;
              box-sizing: border-box;
              padding: 0 2rem 0 1rem;
              margin: 0 auto;

              @media (max-width: 40em) {
                  width: 90%;
              }

              strong {
                display: block;
                font-size: 1.5rem;
                color: #000000;
                font-family: "RubikMedium";
                margin: 3rem 0 0.2rem 0;

                @media (max-width: 40em) {
                    margin: 1rem 0 0.2rem 0;
                }

              }

              span {
                display: block;
                font-size: 0.9rem;
                color: #666666;
                font-family: "RubikLight";
              }

              p {
                font-size: 0.9rem;
                line-height: 1.5;
              }

              a {
                  color: #FFFFFF;
                  background-color: #6500FF;
                  width: 3rem;
                  height: 3rem;
                  font-size: 1rem;
                  box-sizing: border-box;
                  padding: 1rem;
                  text-align: center;
                  border-radius: 3rem;
                  display: block;
                  opacity: 0.8;
                  margin: 1.5rem 0 0 0;
                  &:hover {
                    opacity: 1;
                  }
              }

          }
      }
  }

}

div[data-name="disclaimer-overlay"] {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255,255,255,0.98);
    z-index: 100;

    div[data-name="logo"] {
        width: 10rem;
        height: 3rem;
        background-position: center center;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url('/static/assets/images/defiglobal-logo-alt.png');
        margin: 2rem;
    }

    div[data-name="content"] {
      max-width: 32rem;
      width: 85%;
      font-size: 0.9rem;
      line-height: 2;
      display: block;
      margin: 5rem auto 0 auto;
      text-align: center;

      a.button {
        color: #FFFFFF;
        background-color: #6500FF;
        display: block;
        padding: 0.5rem 2rem;
        text-decoration: none;
        border-radius: 0.5rem;
        margin: 2rem auto;
        max-width: 8rem;
        text-align: center;
        font-family: "RubikBold";
        &:hover {
            background-color: #5404ce;
        }
      }
    }
}

div[data-name="pages"] {

  div[data-name="page-intro"] {
      width: 100%;
      height: 90vh;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      background-color: rgba(101, 0, 255, 1);
      position: relative;
      overflow: hidden;

      @media (max-width: 40em) {
          & {
              background-image: url(/static/assets/videos/background-video.gif);
          }
      }

      div[data-name="box"] {
          width: 90%;
          max-width: 30rem;
          padding: 4rem 1rem 4rem 1rem;
          text-align: center;
          border-radius: 2rem 0.2rem 2rem 0.2rem;
          background-color: rgba(255,255,255,0.9);
          margin: 0 auto;
          top: 30%;
          position: absolute;
          left: 50%;
          margin-left: -15rem;
          z-index: 2;

          @media (max-width: 40em) {
              margin-left: -45%;
              max-width: 90%;
          }

          h1 {
            font-size: 1.7rem;
            color: #6500FF;
            margin: 0 0 2rem 0;
            @media (max-width: $tablet) {
                font-size: 1rem;
            }
          }
          a {
            color: #FFFFFF;
            background-color: #6500FF;
            display: inline-block;
            padding: 1rem 2rem;
            text-decoration: none;
            border-radius: 0.5rem;
            font-family: "RubikBold";
            &:hover {
              background-color: #5404ce;
            }
            @media (max-width: $tablet) {
                font-size: 0.9rem;
            }
          }
      }
  }

  div[data-name="page-independence"] {
      padding: 5rem 2rem;
      h2 {
          text-align: center;
          display: block;
          color: #6500FF;
          font-size: 2rem;
          margin: 0 0 5rem 0;
          @media (max-width: $mobile) {
              font-size: 1.2rem;
          }
      }
      div[data-name="map"] {
          width: 30rem;
          height: 26rem;
          background-size: contain;
          background-repeat: no-repeat;
          background-image: url('/static/assets/images/crypto-map.png');
          display: block;
          margin: 0 auto;
          @media (max-width: $mobile) {
              width: 20rem;
              height: 20rem;
          }
      }
      div[data-name="text"] {
          margin: 0 auto;
          max-width: 40rem;
          width: 95%;
          line-height: 2;
          text-align: center;
          position: relative;
          font-size: 0.9rem;
          div[data-name="underline"] {
            width: 5rem;
            height: 0.3rem;
            background-color: #000000;
            border-radius: 0.3rem;
            margin: 0 auto;
          }
      }
  }

  div[data-name="page-whoweare"] {
      padding: 5rem 2rem;
      h3 {
        border-radius: 1rem 0 1rem 0;
        border: 0.4rem solid #6500FF;
        color: #6500FF;
        max-width: 15rem;
        padding: 0.5rem;
        font-family: "RubikBold";
        text-align: center;
        font-size: 1.8rem;
        margin: 0 auto 8rem auto;
        @media (max-width: $tablet) {
            font-size: 1.3rem;
            margin: 0 auto 5rem auto;
        }
      }
      div[data-name="point-left"] {
          max-width: 55rem;
          margin: 0 auto 8rem auto;
          position: relative;
          @media (max-width: $tablet) {
              max-width: 40rem;
          }
          div[data-name="text"] {
            display: inline-block;
            max-width: 50%;
            vertical-align: top;
            position: relative;
            @media (max-width: $tablet) {
                max-width: 100%;
            }
            h4 {
              font-size: 1.5rem;
              color: #6500FF;
              font-family: "RubikBold";
            }
            p {
              line-height: 1.8;
              font-size: 0.9rem;
              margin: 0 0 2rem 0;
            }
            a {
                color: #FFFFFF;
                background-color: #6500FF;
                display: inline-block;
                padding: 1rem 1.5rem;
                text-decoration: none;
                border-radius: 0.5rem;
                font-family: "RubikBold";
                &:hover {
                  background-color: #5404ce;
                }
            }
            div[data-name="number"] {
                position: absolute;
                z-index: 0;
                font-size: 19rem;
                top: -5rem;
                left: 4rem;
                color: #6500FF;
                opacity: 0.1;
                font-family: "RubikBold";
            }
          }
          div[data-name="image"] {
            display: inline-block;
            vertical-align: top;
            width: 45%;
            height: 28rem;
            background-position: center center;
            background-size: contain;
            background-image: url('/static/assets/images/whoweare.png');
            background-repeat: no-repeat;
            margin: 0 0 0 2rem;
            @media (max-width: $tablet) {
                display: none;
            }
          }
      }
      div[data-name="point-right"] {
          max-width: 55rem;
          margin: 0 auto;
          position: relative;
          @media (max-width: $tablet) {
              max-width: 40rem;
          }
          div[data-name="text"] {
            display: inline-block;
            max-width: 50%;
            vertical-align: top;
            position: relative;
            @media (max-width: $tablet) {
                max-width: 100%;
            }
            h4 {
              font-size: 1.5rem;
              color: #6500FF;
              font-family: "RubikBold";
            }
            p {
              line-height: 1.8;
              font-size: 0.9rem;
              margin: 0 0 2rem 0;
            }
            a {
                color: #FFFFFF;
                background-color: #6500FF;
                display: inline-block;
                padding: 0.5rem 1rem;
                text-decoration: none;
                border-radius: 0.5rem;
            }
            div[data-name="number"] {
                position: absolute;
                z-index: 0;
                font-size: 19rem;
                top: -5rem;
                left: 4rem;
                color: #6500FF;
                opacity: 0.1;
                font-family: "RubikBold";
            }
          }
          div[data-name="image"] {
            display: inline-block;
            vertical-align: top;
            width: 45%;
            height: 28rem;
            background-position: center center;
            background-size: contain;
            background-image: url('/static/assets/images/ourpeople.png');
            background-repeat: no-repeat;
            margin: 0 0 0 2rem;
            @media (max-width: $tablet) {
                display: none;
            }
          }
      }
  }

  div[data-name="page-whatwedo"] {
      padding: 5rem 0 5rem 0;
      h3 {
        border-radius: 1rem 0 1rem 0;
        border: 0.4rem solid #6500FF;
        color: #6500FF;
        max-width: 15rem;
        padding: 0.5rem;
        font-family: "RubikBold";
        text-align: center;
        font-size: 1.8rem;
        margin: 0 auto 8rem auto;
        @media (max-width: $tablet) {
            font-size: 1.3rem;
            margin: 0 auto 5rem auto;
        }
      }

      div[data-name="options"] {
          max-width: 64rem;
          margin: 0 auto 10rem auto;
          text-align: center;
          @media (max-width: $tablet) {
              margin: 0 auto 5rem auto;
          }
          div[data-name="option"] {
              font-size: 1.2rem;
              color: #CECECE;
              font-family: "RubikBold";
              display: inline-block;
              cursor: pointer;
              position: relative;
              min-width: 13.25rem;
              &:not(.selected):hover {
                 color: #666666;
              }

              @media (max-width: $tablet) {
                  font-size: 1rem;
                  min-width: 8rem;
              }
              @media (max-width: $mobile) {
                  font-size: 1.3rem;
                  min-width: inherit;
                  display: block;
                  margin: 0 0 4rem 0;
              }
              &:nth-child(2) {
                  margin-left: 6rem;
                  margin-right: 6rem;
                  @media (max-width: $tablet) {
                      margin-left: 2rem;
                      margin-right: 2rem;
                  }
                  @media (max-width: $mobile) {
                      margin-left: 1rem;
                      margin-right: 1rem;
                  }
              }
              &.selected {
                color: #000000;
                div {
                  bottom: -1rem;
                  width: 5rem;
                  left: 50%;
                  margin-left: -2.5rem;
                  height: 0.3rem;
                  border-radius: 0.3rem;
                  background-color: #000000;
                  position: absolute;
                }
              }
          }
      }

      div[data-name="options-content"] {
          div[data-name="option-content"] {
              div[data-name="banner"] {
                  width: 100%;
                  height: 15rem;
                  background-size: cover;
                  background-repeat: no-repeat;
                  background-position: center center;
                  padding: 5rem 0 0 0;
                  margin: 0 auto 8rem auto;
                  @media (max-width: $tablet) {
                      height: 10rem;
                      margin: 0 auto 5rem auto;
                      padding: 3rem 0 0 0;
                  }
                  div[data-name="title"] {
                      background: #FFFFFF;
                      box-shadow: 20px 40px 60px 0 rgba(0,0,0,0.50);
                      max-width: 20rem;
                      padding: 1rem 2rem;
                      color: #6500FF;
                      font-size: 1.5rem;
                      margin: 0 auto;
                      text-align: center;
                      font-family: "RubikBold";
                      @media (max-width: $tablet) {
                          font-size: 1rem;
                          padding: 1rem 1.5rem;
                          max-width: 20rem;
                      }
                  }
              }
          }
      }

      div[data-name="suboptions-content"] {
        div[data-name="suboption-content"] {
            div[data-name="image"] {
                max-width: 50rem;
                width: 90%;
                margin: 0 auto 3rem auto;
                min-height: 30rem;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center center;
                @media (max-width: $tablet) {
                    min-height: 20rem;
                }
                div[data-name="box"] {
                    width: 90%;
                    max-width: 30rem;
                    padding: 3rem 3rem 5rem 3rem;
                    text-align: center;
                    border-radius: 2rem 0.2rem 2rem 0.2rem;
                    background-color: rgba(255,255,255,0.9);
                    margin: 0 auto;
                    top: 8rem;
                    position: relative;
                    @media (max-width: $tablet) {
                        padding: 3rem 2rem 5rem 2rem;
                        top: 3rem;
                    }
                    strong {
                      display: block;
                      text-align: center;
                      font-size: 1.8rem;
                      line-height: 1.5;
                      color: #001BFF;
                      @media (max-width: $tablet) {
                          font-size: 1.3rem;
                      }
                    }
                }
            }
            div[data-name="text"] {
                max-width: 50rem;
                width: 95%;
                line-height: 1.8;
                text-align: center;
                margin: 0 auto;
                font-size: 0.9rem;
            }

            div[data-name="arrows"] {
              text-align: center;
              margin: 0 auto 3rem auto;
              div[data-name="left"] {
                  cursor: pointer;
                  width: 2rem;
                  height: 2rem;
                  margin: 0 1rem;
                  display: inline-block;
                  background-position: center center;
                  background-repeat: no-repeat;
                  background-size: contain;
                  background-image: url('/static/assets/images/arrow-left-enabled.png');
                  &.disabled {
                    background-image: url('/static/assets/images/arrow-left-disabled.png');
                  }
              }
              div[data-name="right"] {
                  cursor: pointer;
                  width: 2rem;
                  height: 2rem;
                  margin: 0 1rem;
                  display: inline-block;
                  background-position: center center;
                  background-repeat: no-repeat;
                  background-size: contain;
                  background-image: url('/static/assets/images/arrow-right-enabled.png');
                  &.disabled {
                    background-image: url('/static/assets/images/arrow-right-disabled.png');
                  }
              }
            }
        }
      }

  }

  div[data-name="page-defi"] {
      padding: 0 0 20rem 0rem;
      @media (max-width: $tablet) {
          padding: 0 0 13rem 0rem;
      }
      h3 {
        border-radius: 1rem 0 1rem 0;
        border: 0.4rem solid #6500FF;
        color: #6500FF;
        max-width: 15rem;
        padding: 0.5rem;
        font-family: "RubikBold";
        text-align: center;
        font-size: 1.8rem;
        margin: 0 auto 8rem auto;
        @media (max-width: $tablet) {
            font-size: 1.3rem;
            margin: 0 auto 5rem auto;
        }
      }
      div[data-name="image"] {
          background-position: center center;
          background-size: cover;
          background-repeat: no-repeat;
          background-image: url('/static/assets/images/defi-section-background.png');
          width: 100%;
          height: 70vh;
          padding: 5rem 2rem;
          box-sizing: border-box;
          position: relative;
          & > p {
              max-width: 40rem;
              width: 90%;
              color: #FFFFFF;
              margin: 0 auto;
              text-align: center;
              line-height: 2;
              top: 3rem;
              position: relative;
          }

          div[data-name="text"] {
              position: absolute;
              bottom: -3rem;
              width: 35rem;
              color: #FFFFFF;
              text-align: center;
              line-height: 1.8;
              left: 50%;
              margin-left: -17.5rem;
              z-index: 1;
              font-size: 0.9rem;
              @media (max-width: $mobile) {
                  width: 80%;
                  margin-left: -40%;
              }
              a {
                  color: #6500FF;
                  background-color: #FFFFFF;
                  display: inline-block;
                  padding: 0.8rem 2rem;
                  text-decoration: none;
                  border-radius: 0.5rem;
                  font-size: 0.9rem;
                  font-family: "RubikBold";
                  &:hover {
                      background-color: #F3F3F3;
                  }
              }
          }
          img[data-name="text-background"] {
              width: 100%;
              position: absolute;
              bottom: -7rem;
              left: 0;
              z-index: 0;
              height: 10rem;
          }
      }
  }

  div[data-name="page-contact"] {
      h3 {
          border-radius: 1rem 0 1rem 0;
          border: 0.4rem solid #6500FF;
          color: #6500FF;
          max-width: 15rem;
          padding: 0.5rem;
          font-family: "RubikBold";
          text-align: center;
          font-size: 1.8rem;
          margin: 0 auto 8rem auto;
          @media (max-width: $tablet) {
              font-size: 1.3rem;
              margin: 0 auto 5rem auto;
          }
      }
      div[data-name="image"] {
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url('/static/assets/images/contact-background.png');
        width: 100%;
        min-height: 100vh;
        position: relative;

        div[data-name="box"] {
            width: 90%;
            max-width: 35rem;
            padding: 3rem 2rem 5rem 2rem;
            text-align: center;
            border-radius: 2rem 0.2rem 2rem 0.2rem;
            background-color: rgba(255,255,255,0.9);
            margin: 0 auto;
            top: 30vh;
            position: relative;
            background: #FFFFFF;
            box-shadow: 20px 40px 60px 0 rgba(216,216,216,0.50);
            line-height: 1.8;
            p {
              margin: 0 auto 2rem auto;
              font-size: 0.9rem;
            }
            a {
              color: #FFFFFF;
              background-color: #6500FF;
              display: inline-block;
              padding: 0.8rem 2rem;
              text-decoration: none;
              border-radius: 0.5rem;
              font-size: 0.9rem;
              font-family: "RubikBold";
              &:hover {
                  background-color: #5404ce;
              }
            }
        }
      }
  }

  div[data-name="page-team"] {
      h3 {
          border-radius: 1rem 0 1rem 0;
          border: 0.4rem solid #6500FF;
          color: #6500FF;
          max-width: 15rem;
          padding: 0.5rem;
          font-family: "RubikBold";
          text-align: center;
          font-size: 1.8rem;
          margin: 0 auto 3rem auto;
          @media (max-width: $tablet) {
              font-size: 1.3rem;
              margin: 0 auto 5rem auto;
          }
      }

      div[data-name="team"] {
          max-width: 64rem;
          margin: 0 auto;
          text-align: center;
          padding: 8rem 0 15rem 0;

          div[data-name="member"] {
              display: inline-block;
              vertical-align: top;
              margin: 0 1.2rem 2rem 1.2rem;
              text-align: left;

              div[data-name="image"] {
                  width: 12.5rem;
                  height: 14.5rem;
                  background-color: #EEEEEE;
                  margin: 0 0 1rem 0;
                  display: block;
                  background-position: center center;
                  background-size: cover;
                  background-repeat: no-repeat;
                  transition: all 0.5s ease;
                  opacity: 0.85;
                  cursor: pointer;

                  &:hover {
                      transition: all 0.5s ease;
                      opacity: 1;
                  }
              }

              strong {
                display: block;
                font-size: 0.95rem;
                color: #000000;
                font-family: "RubikMedium";
                margin: 0 0 0.2rem 0;
              }

              span {
                display: block;
                font-size: 0.9rem;
                color: #666666;
                font-family: "RubikLight";
              }
          }
      }
  }

}

div[data-name="submenu-options"] {
    margin: 1rem auto;
    text-align: center;
    display: block;
    padding: 4rem 0 0 0;
    a[data-name="submenu-option"] {
        color: #000000;
        font-family: "RubikBold";
        position: relative;
        font-size: 1rem;
        text-decoration: none;
        display: inline-block;
        margin: 1rem;
        div {
            width: 3rem;
            height: 0.3rem;
            background-color: #000000;
            border-radius: 0.3rem;
            position: absolute;
            bottom: -0.5rem;
            left: 50%;
            margin-left: -1.5rem;
            display: none;
        }

        &.selected {
          color: #6500FF;
          div {
            display: block;
            background-color: #6500FF;
          }
        }

        &:not(.selected):hover {
          div {
            background-color: #000000;
            display: block;
          }
        }
    }
}

main[data-name="contactus"] {
  & > div[data-name="image"] {
      width: 100%;
      height: 90vh;
      background-image: url('/static/assets/images/contactus-background.png');
      background-size: cover;
      background-repeat: no-repeat;
      position: relative;

      h1 {
        border-radius: 1rem 0 1rem 0;
        border: 0.4rem solid #FFFFFF;
        color: #FFFFFF;
        max-width: 15rem;
        padding: 0.5rem;
        font-family: "RubikBold";
        text-align: center;
        margin: 0 auto 0 auto;
        position: relative;
        top: 40%;
        @media (max-width: $tablet) {
            font-size: 1.3rem;
            margin: 0 auto 5rem auto;
        }
      }
  }

  article {
    max-width: 45rem;
  }

  div[data-name="submenu-options"] {
    text-align: left;
    margin: 0;
    padding: 0;

    @media (max-width: $mobile) {
        text-align: center;
        margin: 0 0 2rem 0;
        span {
          display: block;
        }
    }
    a[data-name="submenu-option"] {
        font-size: 0.9rem;
        max-width: none;
        width: auto;
        margin: 1rem 1rem 1rem 1rem;
        padding: 0;
        cursor: pointer;
        div {
          bottom: -0.5rem;
        }
        &:not(.selected):hover {
            div {
              display: block;
              background-color: #000000;
            }
        }
    }
  }

  input {
      background: #FFFFFF;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
      padding: 1rem 2rem;
      display: block;
      outline: none;
      width: 100%;
      border: 0.05rem solid #DDDDDD;
      margin: 2rem 0 2rem 0;
      &:focus {
        border-color: #6500FF;
      }
      @media (max-width: $mobile) {
          box-shadow: none;
      }
  }

  textarea {
      background: #FFFFFF;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
      padding: 2rem;
      display: block;
      outline: none;
      width: 100%;
      border: 0.05rem solid #DDDDDD;
      margin: 0 0 2rem 0;
      min-height: 10rem;
      &:focus {
        border-color: #6500FF;
      }
      @media (max-width: $mobile) {
          box-shadow: none;
      }
  }

  a.button {
    color: #FFFFFF;
    background-color: #6500FF;
    display: block;
    padding: 0.5rem 2rem;
    text-decoration: none;
    border-radius: 0.5rem;
    margin: 0 auto;
    max-width: 8rem;
    text-align: center;
    font-family: "RubikBold";
    &:hover {
        background-color: #5404ce;
    }
    &[disabled] {
      opacity: 0.3;
    }
  }

  p.message {
    text-align: center;
  }
}

main[data-name="ourmission"] {
  & > div[data-name="image"] {
      width: 100%;
      height: 90vh;
      background-image: url('/static/assets/images/ourmission-background.png');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      position: relative;
      @media (max-width: $tablet) {
          height: 70vh;
      }

      h1 {
        border-radius: 1rem 0 1rem 0;
        border: 0.4rem solid #FFFFFF;
        color: #FFFFFF;
        max-width: 15rem;
        padding: 0.5rem;
        font-family: "RubikBold";
        text-align: center;
        margin: 0 auto 0 auto;
        position: relative;
        top: 40%;
        @media (max-width: $tablet) {
            font-size: 1.3rem;
            margin: 0 auto 5rem auto;
        }
      }
  }
}

main[data-name="defi"] {
  & > div[data-name="image"] {
      width: 100%;
      height: 90vh;
      background-image: url('/static/assets/images/defi-background.png');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      position: relative;
      @media (max-width: $tablet) {
          height: 70vh;
      }

      h1 {
        border-radius: 1rem 0 1rem 0;
        border: 0.4rem solid #FFFFFF;
        color: #FFFFFF;
        max-width: 15rem;
        padding: 0.5rem;
        font-family: "RubikBold";
        text-align: center;
        margin: 0 auto 0 auto;
        position: relative;
        top: 40%;
        @media (max-width: $tablet) {
            font-size: 1.3rem;
            margin: 0 auto 5rem auto;
        }
      }
  }
}

main[data-name="bitcoin"] {
  & > div[data-name="image"] {
      width: 100%;
      height: 90vh;
      background-image: url('/static/assets/images/bitcoin-background.png');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      position: relative;
      @media (max-width: $tablet) {
          height: 70vh;
      }

      h1 {
        border-radius: 1rem 0 1rem 0;
        border: 0.4rem solid #FFFFFF;
        color: #FFFFFF;
        max-width: 15rem;
        padding: 0.5rem;
        font-family: "RubikBold";
        text-align: center;
        margin: 0 auto 0 auto;
        position: relative;
        top: 40%;
        @media (max-width: $tablet) {
            font-size: 1.3rem;
            margin: 0 auto 5rem auto;
        }
      }
  }
}

main[data-name="ethereum"] {
  & > div[data-name="image"] {
      width: 100%;
      height: 90vh;
      background-image: url('/static/assets/images/ethereum-background.png');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      position: relative;
      @media (max-width: $tablet) {
          height: 70vh;
      }

      h1 {
        border-radius: 1rem 0 1rem 0;
        border: 0.4rem solid #FFFFFF;
        color: #FFFFFF;
        max-width: 15rem;
        padding: 0.5rem;
        font-family: "RubikBold";
        text-align: center;
        margin: 0 auto 0 auto;
        position: relative;
        top: 40%;
        @media (max-width: $tablet) {
            font-size: 1.3rem;
            margin: 0 auto 5rem auto;
        }
      }
  }
}

main[data-name="stablecoins"] {
  & > div[data-name="image"] {
      width: 100%;
      height: 90vh;
      background-image: url('/static/assets/images/stablecoins-background.png');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      position: relative;
      @media (max-width: $tablet) {
          height: 70vh;
      }

      h1 {
        border-radius: 1rem 0 1rem 0;
        border: 0.4rem solid #FFFFFF;
        color: #FFFFFF;
        max-width: 15rem;
        padding: 0.5rem;
        font-family: "RubikBold";
        text-align: center;
        margin: 0 auto 0 auto;
        position: relative;
        top: 40%;
        @media (max-width: $tablet) {
            font-size: 1.3rem;
            margin: 0 auto 5rem auto;
        }
      }
  }
}
