<ng-include src="'/static/views/includes/header.html'"></ng-include>

<main data-name="stablecoins">
    <div data-name="image">
        <h1>Stablecoins</h1>
    </div>
    <div data-name="submenu-options">
        <a data-name="submenu-option"  href="/info/defi">DeFi <div></div></a>
        <a data-name="submenu-option" href="/info/bitcoin">Bitcoin <div></div></a>
        <a data-name="submenu-option" href="/info/ethereum">Ethereum <div></div></a>
        <a data-name="submenu-option" href="/info/stablecoins" class="selected">Stablecoins <div></div></a>
    </div>
    <article>
        <h2>What are Stablecoins?</h2>
        <p>Due to the volatility of the major digital currencies, many people feel less inclined to use them on a day-to-day basis with concerns that the asset might be worth less than the day before. Stablecoins are digital assets that are collateralized in one way or another to peg the coin to a specific value.</p>
        <p>A stablecoin that is collateralized by USD will keep its value relative to USD, mitigating price volatility, while still retaining its benefits of being a digital asset and allowing access to the blockchain ecosystem. The usage of stablecoins are critical to DeFi applications and are a fantastic way to access the new global financial system while minimizing the risks of price volatility.</p>
        <p>The two main types of stablecoins are:</p>
        <p>Fiat-collateralized stablecoins, which are backed by fiat currencies. An example would be Tether (USDT), which is collateralized with USD. 1 USDT = 1 USD.</p>
        <p>Crypto-collateralized stablecoins, which are backed by other digital currencies. An example would be DAI, which is collateralized mainly by Ether. 1 DAI = 1 USD.</p>
    </article>
</main>

<ng-include src="'/static/views/includes/footer.html'"></ng-include>
