<ng-include src="'/static/views/includes/header.html'"></ng-include>

<main data-name="ethereum">
    <div data-name="image">
        <h1>Ethereum</h1>
    </div>
    <div data-name="submenu-options">
        <a data-name="submenu-option"  href="/info/defi">DeFi <div></div></a>
        <a data-name="submenu-option" href="/info/bitcoin">Bitcoin <div></div></a>
        <a data-name="submenu-option" href="/info/ethereum" class="selected">Ethereum <div></div></a>
        <a data-name="submenu-option" href="/info/stablecoins">Stablecoins <div></div></a>
    </div>
    <article>
        <h2>The Ethereum Network</h2>
        <p>Ethereum is another open-sourced public blockchain that differentiates from Bitcoin due to its smart contract functionality. Smart contracts are self-executing contracts with the terms of the agreement between two or more parties written into code. They enable developers to build decentralized applications (dApps) with tokens that operate in a trustless environment. These dApps offer more than just simple peer-to-peer coin payments, as opposed to Bitcoin.</p>
        <p>Since the Ethereum network is designed as a platform for the creation of applications, similar to the ones on Windows and MacOS, the possibilities of what can be created on top of it are endless. We are already seeing a wide range of industries utilizing this platform for gaming, supply chain management, intellectual property, and more. However, the biggest industry to utilize this platform will be finance. The DeFi vehicles mentioned earlier (banking, lending, etc.) are primarily being built on Ethereum.</p>
        <h2>Ether as an Asset</h2>
        <p>The underlying asset that is used on Ethereum is Ether. Ether is thought of as ‘fuel’ that is used to execute the smart contracts that power the dApps on Ethereum, just as gas is used to fuel your car. Through a process called mining, new Ether is created and introduced on the network. This issuance, like with Bitcoin, also requires actual resources and energy.</p>
    </article>
</main>

<ng-include src="'/static/views/includes/footer.html'"></ng-include>
