<ng-include src="'/static/views/includes/header.html'"></ng-include>

<main data-name="defi">
    <div data-name="image">
        <h1>DeFi</h1>
    </div>
    <div data-name="submenu-options">
        <a data-name="submenu-option"  href="/info/defi" class="selected">DeFi <div></div></a>
        <a data-name="submenu-option" href="/info/bitcoin">Bitcoin <div></div></a>
        <a data-name="submenu-option" href="/info/ethereum">Ethereum <div></div></a>
        <a data-name="submenu-option" href="/info/stablecoins">Stablecoins <div></div></a>
    </div>
    <article>
        <h2>What is DeFi?</h2>
        <p>Decentralized finance, or DeFi, is traditional finance in every sense of the term, combined with the decentralized nature of blockchain technology. Finance covers a wide range of activities involving banking, borrowing, lending, investing, and overall money management. It is through these financial vehicles that allow individuals and businesses to acquire funds, and to spend, save, preserve, protect, and build their wealth. There are institutions and organizations in place that grant you access to these capabilities. However, with the emergence of digital assets and blockchain technology, these processes are becoming more efficient, while minimizing the usage of third-parties.</p>
        <p>Blockchains, public blockchains specifically, are nothing more than globally distributed databases that have their own set of rules, in which computers around the world act as checkpoints to ensure protocols are followed. This means there is no single entity in control, no governing body, and no single point of failure, in which anyone can access and contribute to.</p>
        <p>Digital assets are part of the data that is transmitted through different blockchain protocols. As mentioned, every blockchain has its own set of rules, which means the digital assets transmitted through each protocol serve their own function. Value is attributed to a digital asset through its use-case, function, supply, and demand.</p>
        <p>Why is decentralization important? The answer; sovereignty, security, and privacy.</p>
        <p>In traditional finance, the only time you truly own and control your funds and assets are when they are in your physical possession. Other than that, your funds are in the hands of an institution, and when you make a transaction, those funds along with your information get passed around through various other third-parties.</p>
        <p>With DeFi, there are no intermediaries or institutions involved, meaning when you own a digital asset, you have 100% control. You are essentially your own bank, and are free to store, spend, lend, invest, and transact as you please, in a truly peer-to-peer fashion. Through cryptography, your identity is protected, meaning your funds are also protected from seizures, forfeitures, and leans, and the risk of your information being stolen from institutions through data breaches is eliminated.</p>
        <p>DeFi Global is here to help you open the doors to <strong>self-sovereignty</strong> of your finances, so you can <strong>spend, lend, bank, borrow, invest,</strong> and <strong>protect your wealth</strong> with the utmost <strong>security and privacy</strong>.</p>
    </article>
</main>

<ng-include src="'/static/views/includes/footer.html'"></ng-include>
