<ng-include src="'/static/views/includes/header.html'"></ng-include>

<main data-name="bitcoin">
    <div data-name="image">
        <h1>Bitcoin</h1>
    </div>
    <div data-name="submenu-options">
        <a data-name="submenu-option"  href="/info/defi">DeFi <div></div></a>
        <a data-name="submenu-option" href="/info/bitcoin" class="selected">Bitcoin <div></div></a>
        <a data-name="submenu-option" href="/info/ethereum">Ethereum <div></div></a>
        <a data-name="submenu-option" href="/info/stablecoins">Stablecoins <div></div></a>
    </div>
    <article>
        <h2>The Bitcoin Network</h2>
        <p>The term ‘digital currency’ has become synonymous with Bitcoin. Released in 2009, Bitcoin was the first blockchain ever created. 10 years later, it is still the most dominant digital currency in terms of market capitalization. To understand Bitcoin, it needs to be separated into two components; Bitcoin the network and Bitcoin the asset.</p>
        <p>Bitcoin was designed to be a peer-to-peer electronic cash system that would allow online payments to be sent directly from one party to another without going through a financial institution.</p>
        <p>There are many checks and balances within the code and economic incentives to ensure the protocol is being followed and that nobody can game the system, which has not happened till date.</p>
        <h2>Bitcoin as an Asset</h2>
        <p>The actual underlying asset, Bitcoin, is what is used to transact on the network. It has the following properties and characteristics that gives it its value: portability, limited supply, divisibility, and uniformity. Real resources and energy are required for the issuance of new Bitcoin.</p>
        <p>These characteristics also allow it to serve the functions of unit of account, store of value, and medium of exchange. Due to its decentralized nature and issuance, Bitcoin has been compared to gold in a digital form.</p>
    </article>
</main>

<ng-include src="'/static/views/includes/footer.html'"></ng-include>
