<ng-include src="'/static/views/includes/header.html'"></ng-include>

<main data-name="defi">
    <div data-name="image">
        <h1>DeFi</h1>
    </div>
    <div data-name="submenu-options">
        <a data-name="submenu-option"  href="/info/defi" class="selected">DeFi <div></div></a>
        <a data-name="submenu-option" href="/info/bitcoin">Bitcoin <div></div></a>
        <a data-name="submenu-option" href="/info/ethereum">Ethereum <div></div></a>
        <a data-name="submenu-option" href="/info/stablecoins">Stablecoins <div></div></a>
    </div>
    <article>
        <h2>What is DeFi?</h2>
        <p>Decentralized finance, or DeFi, is traditional finance combined with the decentralized nature of blockchain technology. Finance covers a wide range of activities involving banking, borrowing, lending, investing, and overall money management. It is through these financial vehicles that individuals and businesses can acquire funds, as well as spend, preserve, and build their wealth. There are many institutions and organizations in place that grant access to these capabilities. However, with the emergence of digital assets and blockchain technology, these processes are becoming more efficient, while minimizing the usage of third-parties.</p>
        <p>Blockchains, particularly public blockchains, are nothing more than globally distributed databases that have their own set of rules, in which computers around the world act as checkpoints to ensure protocols are followed. This means there is no single entity in control, no governing body, and no single point of failure. Anyone can access and contribute to the public chain.</p>
        <p>Digital assets are part of the data that is transmitted through different blockchain protocols. As mentioned, every blockchain has its own set of rules, which means the digital assets transmitted through each protocol serve their own function. Value is attributed to a digital asset through its use case, function, supply, and demand.</p>
        <p>Why is decentralization important? The answer: sovereignty, security, and privacy.</p>
        <p>In traditional finance, the only time you truly own and control your funds and assets are when they are in your physical possession. Other than that, your funds are in the hands of an institution. When you make a transaction, those funds along with your information get passed around through various third-parties, while being monitored by regulators.</p>
        <p>Within DeFi, there are no intermediaries or other institutions involved- meaning when you own a digital asset, you have 100% control. You are essentially your own bank and are free to store, spend, lend, and invest as you please in a true peer-to-peer fashion. Through cryptography, your identity is protected and your funds are also shielded from seizures, forfeitures, and leans.</p>
        <p>Since your personal information and funds are protected, the risk of your information being stolen from institutions through data breaches is eliminated. In the early stages of digital asset trading, there are/were third-party exchanges to perform this service. When you hear of hacks and stolen funds occurring, they are usually on these third-party exchanges. However, decentralized exchanges are being built. You’ll no longer have to trust your funds with a third-party to trade and swap assets, thus preventing these types of hacks.</p>
    </article>
</main>

<ng-include src="'/static/views/includes/footer.html'"></ng-include>
